/* styles/HeroBanner.module.css */

.heroBanner {
  position: relative;
  height: 80vh; /* Adjusted to make the banner slimmer */
  overflow: hidden;
}

.heroImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text contrast */
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  animation: fadeInUp 1s ease-out;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
  animation: fadeInUp 1.2s ease-out;
}

.boldText {
  font-weight: 900;
  color: #fd7e14; /* Matching the home button color */
}

.heroButton {
  padding: 15px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #fd7e14; /* Match home button color */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.heroButton:hover {
  background-color: #ff5e00;
  transform: scale(1.1);
}

.heroContent:hover {
  background: rgba(0, 0, 0, 0.8); /* Darker background on hover */
  transform: translate(-50%, -50%) scale(1.05);
}

/* Animation Keyframes */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .heroContent {
    padding: 15px;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .heroButton {
    font-size: 1rem;
    padding: 12px 30px;
  }
}
